body{
	background: #00FF00;
}

h1 {
	text-align: center;color: #2F4F4F;
}

p{
	text-align: center;color: 	#FF8C00;
}

#capa {
	width: 50%;
	height: 100%;
	margin-left:1px;
	border: solid;
	color: #000000;
}